@charset "UTF-8";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, div, span, img, a, table, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-size: 100%;
  vertical-align: baseline;
}

header, footer, nav, section, article, aside, figure, figcaption {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
  list-style-type: none;
}

.post {
  margin-bottom: 50px;
}

.profile-post {
  margin-top: 40px;
}

.profile-post-set,
.post-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile-post-large {
  width: 207px;
  height: 192px;
  margin: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: black;
}
.profile-post-large img {
  width: 100%;
  max-width: 100%;
  display: block;
  margin: auto;
}

.post-large {
  width: 198px;
  height: 225px;
  margin: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: black;
}
.post-large img {
  width: 100%;
  max-width: 100%;
  display: block;
  margin: auto;
}

.profile-post-small {
  width: 128px;
  margin: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.profile-post-small img {
  width: 100%;
  max-width: 100%;
  background-color: black;
  height: auto;
  display: block;
}
.profile-post-small .posts-image-margin {
  margin-bottom: 8px;
}

.post-small {
  width: 138px;
  margin: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.post-small img {
  width: 100%;
  max-width: 100%;
  background-color: black;
  height: auto;
  margin: auto;
  display: block;
}
.post-small .posts-image-margin {
  margin-bottom: 8px;
}

.post-new-tabs {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.post-new-tabs .left {
  text-align: left; /* Cancelを左寄せ */
}
.post-new-tabs .right {
  text-align: right; /* Postを右寄せ */
}
.post-new-tabs .right input {
  margin: 0;
  padding: 0;
  text-align: right;
  background-color: white;
  color: #BDBDBD;
}

.post-new-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  font-size: 16px;
}

.post-new-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
}

.post-new-avatar {
  margin-right: 15px;
}

#photo-preview {
  display: none;
}

.photo-preview {
  display: none;
}

.login-button {
  margin-top: 50px;
  height: auto;
  min-height: 48px;
  width: 100%;
  background: #FFE600;
  font-size: 14px;
}

.image-button {
  display: none;
  background-color: rgb(179, 179, 179);
  width: 120px;
  height: 20px;
  border-radius: 5px;
  padding-top: 2px;
  color: white;
  text-decoration: none;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 40px;
}

.post-image-button {
  display: block;
  width: 90px;
  height: auto;
  border: solid 1px #E0E0E0;
  border-radius: 3px;
  padding: 5px 0;
  color: #4F4F4F;
  text-decoration: none;
  text-align: center;
  margin-right: auto;
}

.image-form-none {
  display: none;
}

#avatar-edit-button, #avatar-show-button {
  display: none;
}

.follow-button, .unfollow-button {
  color: #9E9E9E;
}

.post-list, .comments-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.post-list-avatar {
  width: 30px;
  height: 30px;
}

.post-list-info {
  margin-left: 10px;
  font-size: 14px;
}

.post-list-info-time, .comments-content {
  color: #9E9E9E;
  font-size: 12px;
}

.post-photo {
  margin: 10px 0;
}

.post-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}
.post-icon img {
  margin-right: 15px;
}

.post-likes {
  margin-bottom: 10px;
  font-size: 12px;
}

.post-mind {
  font-size: 12px;
}

.comments-content {
  font-size: 14px;
}

.comments {
  margin-top: 50px;
}

.comments-list {
  margin-bottom: 30px;
}
.comments-list li {
  margin-bottom: 10px;
  font-size: 16px;
}
.comments-list p {
  max-width: 300px;
}
.comments-list .avatars-comment {
  max-width: 40px;
}

.profile-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.profile-top-back {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.profile-top-username {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

.profile-top-edit {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: right;
}
.profile-top-edit a {
  text-decoration: none;
  color: #333A42;
}

* {
  font-family: "Noto Sans JP", sans-serif;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

img {
  max-width: 100%;
  height: auto;
}

.hidden {
  display: none;
}/*# sourceMappingURL=application.css.map */