/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, div, span, img, a, table, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-size: 100%;
  vertical-align: baseline;
}

header, footer, nav, section, article, aside, figure, figcaption {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
  list-style-type: none;
}

.profile-post {
  margin-top: 40px;
}

.profile-post-set,
.post-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile-post-large,
.post-large {
  width: 207px;
  height: 192px;
  margin: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: black;
}
.profile-post-large img,
.post-large img {
  width: 100%;
  max-width: 100%;
  display: block;
  margin: auto;
}

.profile-post-small,
.post-small {
  width: 128px;
  margin: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.profile-post-small img,
.post-small img {
  width: 100%;
  max-width: 100%;
  background-color: black;
  height: auto;
  margin: auto;
  display: block;
}
.profile-post-small .posts-image-margin,
.post-small .posts-image-margin {
  margin-bottom: 8px;
}

.login-button {
  margin-top: 50px;
  height: auto;
  min-height: 48px;
  width: 100%;
  background: #FFE600;
  font-size: 14px;
}

.image-button {
  display: none;
  background-color: rgb(179, 179, 179);
  width: 120px;
  height: 20px;
  border-radius: 5px;
  padding-top: 2px;
  color: white;
  text-decoration: none;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 40px;
}

.image-form {
  display: none;
}

#avatar-edit-button, #avatar-show-button {
  display: none;
}

.post-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.post-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

* {
  font-family: "Noto Sans JP", sans-serif;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

img {
  max-width: 100%;
  height: auto;
}/*# sourceMappingURL=application.css.map */