.status-wrapper
  .status-bar
    .status-bar-left
      =image_tag "B-Time Style.svg"
    .status-bar-right
      =image_tag "B-Mobile Signal.svg", class: "status-bar-item"
      =image_tag "B-Wifi.svg", class: "status-bar-item"
      =image_tag "B-Battery.svg", class: "status-bar-item"