.login-form {
  margin-top: 40px;
  label {
    font-size: 11px;
    color: #979797;
  }
}
input {
  border: 0;
  margin-top: 10px;
  font-size: 16px;
  width: 100%;
}
textarea {
  width: 100%;
  height: 160px;
  border-color: #CCC;
  margin-top: 10px;
  border-radius: 5px;
}
hr {
  margin-top: 0;
  margin-bottom: 20px;
}
.forgot-pass {
  text-align: right;
}
.forgot-pass-link {
  text-decoration: none;
  color: #CCC;
  font-size: 11px;
}