.post {
}
.post-list,.comments-list {
  display: flex;
}
.post-list-avatar {
  width: 30px;
  height: 30px;
}
.post-list-info {
  margin-left: 10px;
  font-size: 14px;
  align-items: center;
}
.post-list-info-time,.comments-content {
  color: #9E9E9E;
  font-size: 12px;
  margin-top: 5px;
}
.post-photo {
  margin: 10px 0;
}
.post-icon {
  display: flex;
  margin-bottom: 10px;
  img {
    margin-right: 15px;
  }
}
.post-likes {
  margin-bottom: 10px;
  font-size: 12px;
}
.post-mind {
  font-size: 12px;
}
.comments-content{
  font-size: 14px;
}

// comments/new
.comments {
  margin-top: 50px;
}
.comments-list {
  margin-bottom: 30px;
  li {
    margin-bottom: 10px;
    font-size: 16px;
  }
  p {
    max-width: 300px;
  }

.avatars-comment {
  max-width: 40px;
}

}