.profile-top {
  display: flex;
  justify-content: space-between;
}
.profile-top-back{
  flex: 1;
}
.profile-top-username {
  flex: 1;
  text-align: center;
}
.profile-top-edit {
  flex: 1;
  text-align: right;
  a {
    text-decoration: none;
    color: #333A42;
  }
}

// profile/edit
.profile-edit-top {
  display: flex;
  justify-content: space-between;
}
.profile-edit-top-back{
  width: 38%;

}
.profile-edit-top-username {
  font-size: 16px;
  width: 30%;
}
.profile-blank {
  width: 33%;
}

// 


.profile-avatar {
  margin: 40px 0;
  text-align: center;
}
.show-profile-avatar {
  margin-bottom :40px;
}
.edit-profile-avatar {
  margin-bottom :30px;
}
.profile-info {
  display: flex;
  // justify-content: space-around;
  text-align: center;
  dl {
    flex: 1;
  }
  dd {
    font-size: 14px;
    color:#9E9E9E;
  }
}
.post-count,.post-follower,.post-following {
  widows: 100%;
}