.top-bar {
  // ::after{
  //   content:"";
  //   clear: both;
  //   display: block;
  // }
}
.top-bar-img{
  float: left;
}
.top-bar-username {
  text-align: center;
  float: none;
}

.profile-avatar {
  margin: 40px 0;
  text-align: center;
}